.background {
    -fx-background-image: url("../asset/cardCreating/cardBackground.jpg");
}

.label1 {
    -fx-background-color: darkblue;
    -fx-pref-height: 55;
    -fx-background-radius: 10;
    -fx-alignment: center;
    -fx-font: 30px Arial;
    -fx-text-fill: white;
}

.label2 {
    -fx-background-color: lightblue;
    -fx-background-radius: 10;
    -fx-font: 20px Arial;
}

.label3 {
    -fx-background-color: lightblue;
    -fx-background-radius: 10;
    -fx-font: 40px Arial;
    -fx-alignment: center;
}

.text-field {
    -fx-background-color: lightblue;
    -fx-font-size: 20px;
}

.choice-box .context-menu {
    -fx-background-color: black;
    -fx-font: 20px Arial
}

.choice-box .menu-item:focused {
    -fx-background-color: orange;
}

.choice-box .menu-item > .label {
    -fx-text-fill: white;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
}

.button {
    -fx-font: 30px Arial;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #8c8686;
}

.text-area1{
    -fx-background-color: lightblue;
}
