.background {
}

.menu-item {
    -fx-image: url("../asset/mainMenu/ds_btn_inactive.png");
}

.menu-name {
    -fx-image: url("../asset/mainMenu/doShared.png");
}

.menu-label {
    -fx-font: 45px Arial;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-pref-width: 632px;
    -fx-pref-height: 101px;
}

.menu-label:hover {
    -fx-font: 55px Arial;
    -fx-text-fill: yellow;
    -fx-font-weight: bold;
}

.name-label {
    -fx-font: 50px Harrington;
    -fx-font-weight: bold;
}