.shopBackground {
    -fx-background-image: url("../asset/shopMenu/shopBackground.jpg");

}

.shopBox {
    -fx-background-image: url("../asset/shopMenu/UserDetailBG_02.dds.png");
}

@font-face {
    -fx-font-family: 'Heebeo';
    src: url("../asset/font/Heebeo.ttf");
}

.shopText {
    -fx-alignment: center;
    -fx-font-family: 'Heebeo';
    -fx-font-size: 40.0 px;
}

.shopMessageBox {
    -fx-background-image: url("../asset/shopMenu/GUI_T_ShopButton1LL_3.dds.png");
}

.shopCard {
    -fx-background-image: url("../asset/Cards/Monsters/0000.png");
}

.shopMessageLabel {
    -fx-font-family: 'Heebeo';
    -fx-font-size: 25.0 px;
    -fx-text-alignment: left;
}

.searchTextBar {
    -fx-background-image: url("../asset/shopMenu/classic_shadowrealm.jpg");
    -fx-text-fill: white;
}

.scroll-pane {
    -fx-background-image: url("../asset/shopMenu/classic_shadowrealm.jpg");
}

.coin {
    -fx-background-image: url("../asset/shopMenu/ItemA0002.dds.png");
}

.number {
    -fx-text-fill: white;
    -fx-font-size: 40.0 px;
    -fx-font-weight: bold;
}

.registerBackground {
    -fx-background-image: url("../asset/register/classic_shadowrealm.jpg");

}

.registerButton {
    -fx-background-image: url("../asset/register/GUI_T_ShopButton1LL_3.dds.png");

}