.shopBackground {
    -fx-background-image: url("../asset/shopMenu/shopBackground.jpg");

}

.shopBox {
    -fx-background-image: url("../asset/shopMenu/UserDetailBG_02.dds.png");
}

@font-face {
    -fx-font-family: 'Heebeo';
    src: url("../asset/font/Heebeo.ttf");
}

.shopText {
    -fx-alignment: center;
    -fx-font-family: 'Heebeo';
    -fx-font-size: 40.0 px;
}

.shopMessageBox {
    -fx-background-image: url("../asset/shopMenu/GUI_T_ShopButton1LL_3.dds.png");
}

.shopCard {
    -fx-background-image: url("../asset/Cards/Monsters/0000.png");
}

.shopMessageLabel {
    -fx-font-family: 'Heebeo';
    -fx-font-size: 25.0 px;
    -fx-text-alignment: left;
}

.button {

}