
.deckBackground {
    -fx-background-image: url("../asset/deckMenu/shopBackground.jpg");

}

.deckScrollbar {
    -fx-background-image: url("../asset/deckMenu/classic_shadowrealm.jpg");
}

.deckSetting {
    -fx-background-image: url("../asset/deckMenu/bg_vgs.jpg");
}

.addOrDeleteButton {
    -fx-font-size: 50;
    -fx-text-origin: center;
}