.main-pane {
    -fx-background-image: url("../asset/duel/685927.jpg");
}

.check-box {
    -fx-font: 30px default;
    -fx-text-fill: white;
    -fx-pref-width: 180;
    -fx-pref-height: 70;
    -fx-background-color: darkBlue;
    -fx-background-radius: 5;
}

.duel-message {
    -fx-font: 25px default;
    -fx-text-fill: white;
    -fx-pref-width: 500;
    -fx-pref-height: 70;
    -fx-background-radius: 10;
    -fx-background-color: darkBlue;
}

.start-button {
    -fx-font: 30px default;
    -fx-text-fill: white;
    -fx-pref-width: 140;
    -fx-pref-height: 70;
    -fx-background-color: darkBlue;
    -fx-background-radius: 5;
}

.start-button:hover {
    -fx-font: 33px default;
    -fx-text-fill: white;
    -fx-pref-width: 154;
    -fx-pref-height: 77;
    -fx-background-color: blue;
    -fx-background-radius: 5.5;
    -fx-translate-y: -3.5;
    -fx-translate-x: -7;
}

.text-field {
    -fx-font: 30px default;
    -fx-text-fill: white;
    -fx-pref-width: 300;
    -fx-pref-height: 80;
    -fx-background-radius: 8;
    -fx-background-color: darkBlue;
}

.single-multi-button {
    -fx-font: 40px default;
    -fx-text-fill: white;
    -fx-background-color: darkblue;
    -fx-background-radius: 10;
    -fx-pref-width: 400;
    -fx-pref-height: 100;
}

.single-multi-button:hover {
    -fx-background-radius: 11;
    -fx-pref-width: 440;
    -fx-pref-height: 110;
    -fx-background-color: blue;
    -fx-font: 44px default;
    -fx-translate-x: -20;
    -fx-translate-y: -5;
}