.background{
    -fx-background-image: url("../asset/import/dlc_Ind_Illusions.jpg");
}

.menu-item {
    -fx-pref-height: 100;
    -fx-pref-width: 200;
    -fx-background-radius: 30;
    -fx-text-fill: white;
    -fx-background-color: rgb(0, 12, 65);
    -fx-font: 30px arial;
}